{% if link["self"] %}
    <div class="link" id="{{ link["id"] }}">
        <p class="tagline" style="margin-top: 16px;">
            <a href="{{ link["link_url"] }}">
                {{ link["link_title"] }}
            </a> by <a class="reddit" href="https://www.reddit.com/user/{{ link["link_author"] }}">
                {{ link["link_author"] }}
            </a> in <a class="reddit" href="https://www.reddit.com/r/{{ link["subreddit"] }}">
                {{ link["subreddit"] }}
            </a>: <a class="reddit" href="{{ link["permalink"] }}">
                comments
            </a>
        </p>
        <p class="tagline">
            <a class="reddit" href="https://www.reddit.com/user/{{ link["author"] }}">
                {{ link["author"] }}
            </a>
            <a href="https://www.reddit.com/comments/{{ link["link_id"] }}/{{ link["link_title"] }}/{{ link["id"] }}/">
                permalink
            </a>
        </p>
        {% if bodies %}
            <div class="link body" style="margin: 4px;">
                {% raw link["body"] %}
            </div>
        {% end %}
    </div>
{% else %}
    <div class="link" id="{{ link["id"] }}">
        <a href="{{ link["url"] }}" class="thumbnail">
            <img class="pic" src="
                {% if (link["thumbnail"] == None) | (link["thumbnail"] == "self") | (link["thumbnail"] == "default") | (link["thumbnail"] == "") %}
                    https://b.thumbs.redditmedia.com/ueGKKytgsoCNMne-N18pP8-_fBAMELl02YrlMrlYG2Y.png
                {% else %}
                    {{ link["thumbnail"] }}
                {% end %}
                "/>
        </a>
        <div style="display: inline;">
            <p class="title">
                <a href="{{ link["url"] }}">
                    {{ link["title"] }}
                </a>
            </p>
            <p class="tagline">
                submitted by <a class="reddit" href="https://www.reddit.com/user/{{ link["author"] }}">
                    {{ link["author"] }}
                </a> to <a class="reddit" href="https://www.reddit.com/r/{{ link["subreddit"] }}">
                    {{ link["subreddit"] }}
                </a> with <a class="reddit" href="{{ link["permalink"] }}">
                    {{ link["num_comments"] }} comments
                </a>
            </p>
        </div>
        {% if link["is_self"] %}
            {% if bodies %}
                <div class="link body" style="margin: 4px;">
                    {% raw link["body"] %}
                </div>
            {% end %}
        {% end %}
    </div>
{% end %}
