<div id="navbar" class="bar" style="display: none;">
    <p style="padding: 0 10px 0 10px;">
        EXPORT:
    </p>
    <a href="javascript:void(0);" class="button" id="json">JSON</a>
    <a href="javascript:void(0);" class="button" id="csv">CSV</a>
    <a href="javascript:void(0);" class="button" id="md">MD</a>
    <a href="javascript:void(0);" class="button" id="html">HTML</a>
    <a href="javascript:void(0);" class="button" id="signout" style="float:right;">SIGN OUT</a>
    <a href="javascript:void(0);" class="button" id="delete" style="float:right;">DELETE SAVED LINKS</a>
</div>
