body {
    margin: 0;
    padding: 0;
    background:#1a1a1a;
    color:#ddd;
    font-family: normal x-small verdana,arial,helvetica,sans-serif;
}

a {
    color: #dddde1;
}

a:visited {
    color: #808c94;
}

p {
    font-size: small;
}
