.content {
    margin: auto;
    width: 90%;
    max-width: 600px;
    margin-top: 50px;
}

.title {
    text-align: center;
    font-size: xx-large;
}

.title::after {
    content: "by thepaperpilot";
    display: block;
    text-align: right;
    font-size: medium;
}

.auth-button {
    padding: 20px;
    font-size: large;
    text-align: center;
    display: block;
}

.auth-load {
    display: none;
}

.auth-load ~ label {
    padding: 20px;
    background: none;
    border: none;
    font-family: normal x-small verdana,arial,helvetica,sans-serif;
    font-size: large;
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.auth-load ~ label:hover {
    background: rgba(255, 255, 255, .1);
}
