.loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader:before {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 5px solid #444;
    border-color: #444 transparent #444 transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
